@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #282c34;
}

.App {
  text-align: center;
  /* max-width: 728px; */
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 12vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  /* max-width: 728px; */
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  z-index: 99;
  padding: 30px;
  box-sizing: border-box;
}

.app__title {
  width: 70%;
  text-align: left;
}

.app__logo {
  margin-left: 12px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(235, 237, 240);
}

main {
  padding: 20px 10px;
  height: 70vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 15vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* max-width: 728px; */
  display: flex;
  align-items: center;
}

.app__form__container {
  height: 90px;
  width: 90%;
  text-align: center;
  background-color: white;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  font-size: 1.5rem;
  border-radius: 40px;
  margin: 0 auto 20px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
  line-height: 1.5;
  width: 70%;
  font-size: 1.2rem;
  /* background: rgb(58, 58, 58); */
  background: transparent;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 30px;
  margin: 20px 20px;
}

.send__button {
  border: none;
  color: white;
  /* padding: 15px 32px; */
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  width: 70px;
  height: 70px;
  /* height: 65px; */

  background-color: rgb(235, 237, 240);
}

/* button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 30px;
} */

.send__button__icon {
  /* display: inline-block; */
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-top: 3px;
  color: rgb(35, 74, 165);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  background-color: #4285f4;
  border-radius: 2px;
  align-self: center;
  width: 50%;
  height: 42px;
  color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;

  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}
.google-icon {
  position: absolute;
  margin-top: 12px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: center;
  margin: 0px -11px 0 18px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.sign-in:hover {
  box-shadow: 0 0 6px #4285f4;
}

.signout__btn {
  background-color: #282c34; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  height: 50px;
  width: 30%;
  border-radius: 30px;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;

  line-height: 24px;
  padding: 10px 20px;

  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  border-radius: 15px 15px 0px 15px;
  align-self: flex-end;
}
.received p {
  background: white;
  border-radius: 15px 15px 15px 0px;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2px 15px;
}

@media screen and (max-width: 480px) {
  .signout__btn {
    font-size: 0.8rem;
  }
  .app__form__container {
    height: 90px;
  }
  .send__button {
    width: 70px;
    height: 70px;
  }

  input {
    width: 50%;
  }

  .btn-text {
    margin: 0px -11px 0 28px;
  }
}
